body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.watchlist-container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
}

.watchlist-card {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px gray;
    justify-content: space-between;
}

    .watchlist-card img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .watchlist-card button {
        background-color: red;
        color: white;
        padding: 8px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .watchlist-card button:hover {
            background-color: darkred;
        }

.back-btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background: #0077b6;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
.logo {
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
}